<style>
	.navbar {
		display: flex;
	}
	.navitem {
		margin: 10px;
	}
</style>
{% if request.user.is_authenticated %}
	<div>
		<p>Hello {{ request.user }}</p>
	</div>
{% endif %}
<div class="navbar">
	<div class="navitem">
		<a href="{% url 'home' %}">Home</a>
	</div>
	<div class="navitem">
		<a href="{% url 'attendance' %}">Attendance</a>
	</div>
	{% if request.user.is_authenticated %}
		<div class="navitem">
			<a href="{% url 'logout' %}">Logout</a>
		</div>
		<div class="navitem">
			<a href="{% url 'edit-user' %}">EditUser</a>
		</div>
		<div class="navitem">
			<a href="{% url 'delete-user' %}">DeleteUser</a>
		</div>
	{% else %}
		<div class="navitem">
			<a href="{% url 'login' %}">Login</a>
		</div>
		<div class="navitem">
			<a href="{% url 'register-user' %}">Register</a>
		</div>
	{% endif %}
</div>
<hr>
